.darkmode {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: .8s ease-out;
}

.darkmode .boxLetter {
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: white;
}

.darkmode header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.darkmode header img {
  filter: drop-shadow(0px 0px 2px white);
}

.darkmode header button {
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.5));
}

.darkmodeLeave {
  transition: .8s ease-out;
}

.containerInteractive {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.containerInteractive button {
  font-family: 'Lexipa', sans-serif;
  font-weight: bold;
  border: none;
  height: 50px;
  padding: 0 15px;
  border-end-end-radius: 5px;
  border-start-end-radius: 5px;
  background-color: #38b000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.containerWords {
  align-self: center;
}