.boxLetter {
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  text-transform: uppercase;
}

.containerLetters {
  display: flex;
}

.wordIsCorrect {
  background-color: green;
}

.letterIsInTheRightPlace {
  background-color: green;
}

.letterExistInWord {
  background-color: yellow;
}

.letterNotExistInWord {
  background-color: gray;
}